.About {
  color: #d3aa82;
  font-weight: 900;
}
.btn-About {
  background-color: #d3aa82;
  color: black !important;
  font-weight: 500;
  margin: 20px 10px;
}
.mainAbout h1 ,
.mainAbout p{
  direction: rtl;
}
.About-img img {
  width: -webkit-fill-available;
}
.titleAbout {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: large;
}
.p-1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.p-2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
}
